.footer-desktop {
  background: linear-gradient(274deg, #102a4d 1.32%, #191868 96.65%, #191868 96.65%);
  position: relative;
}

.footer-desktop .footer-container {
  width: 86.5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 4.5rem;
  padding-bottom: 3.25rem;
}

.footer-desktop .first-col {
  flex-basis: 25.75rem;
  margin-right: auto;
}

.footer-desktop .first-col .logo {
  width: 12.375rem;
  height: fit-content;
  margin-bottom: 4.25rem;
}

.footer-desktop .first-col .logo > img {
  width: 12.375rem;
  object-fit: cover;
  margin-bottom: 5rem;
}

.footer-desktop .footer-title {
  color: rgba(255, 255, 255, 0.45);
  font-family: Quicksand;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer-desktop .footer-link {
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.37375rem;
}

.footer-desktop .second-col {
  flex-basis: 10rem;
}

.footer-desktop .third-col {
  flex-basis: 10rem;
  margin-left: 4rem;
}

.footer-desktop .fourth-col {
  flex-basis: 26.5rem;
  margin-left: 4rem;
}

.footer-desktop .fourth-col .item-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.footer-desktop .fourth-col .item-container .item-title {
  width: 5rem;
  margin-right: 1.25rem;
  flex: none;
  color: rgba(255, 255, 255, 0.62);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.57rem;
  letter-spacing: 0.01rem;
}

.footer-desktop .fourth-col .item-container .item-content {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.37375rem;
}

.footer-desktop .first-col .email-container {
  display: flex;
  width: 25.75rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  align-items: center;
  border-radius: 2.875rem;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(0, 0, 0, 0.02);
  transform: translate(-0.75rem, 0);
}

.footer-desktop .first-col .email-container > input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36875rem;
}

.footer-desktop .first-col .email-container > input::placeholder {
  color: rgba(255, 255, 255, 0.58);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.00875rem;
}

.footer-desktop .first-col .email-container > button {
  padding: 0.8125rem 1.5rem 0.75rem 1.25rem;
  border-radius: 6.25rem;
  background: linear-gradient(274deg, #2b67b8 1.32%, #7a44d1 96.65%);
  flex: none;
  margin-left: 0.75rem;
}

.footer-desktop .first-col .email-container > button > p {
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36875rem;
  text-transform: none;
}

.footer-desktop .footer-bottom-container {
  padding: 0.5rem 0 0.5rem 0;
  background: linear-gradient(92deg, #328ae2 13.28%, #ff0d39 91.27%);
  display: flex;
  z-index: 1;
  position: relative;
}

.footer-desktop .footer-bottom-container > p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Quicksand;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.36875rem;
  letter-spacing: -0.0625rem;
  margin-left: 42rem;
}

.footer-desktop .footer-bottom-container > p:last-of-type {
  margin-left: 12rem;
}

.footer-desktop .footer-deco-1 {
  width: 24rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.footer-desktop .footer-deco-2 {
  width: 82rem;
  position: absolute;
  bottom: 0;
  right: 12rem;
  z-index: 0;
}

.footer-desktop .footer-deco-3 {
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: 2.5rem;
  right: 0;
  z-index: 0;
}

.footer-desktop .footer-deco-4 {
  width: 24rem;
  position: absolute;
  bottom: 0rem;
  right: 0;
  z-index: 0;
}

.footer-mobile {
  display: none;
}

@media (max-width: 768px) {
  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: block;
    background: linear-gradient(335deg, #102a4d 0%, #191868 65.05%, #191868 65.05%);
    padding: 2.5rem 0 0 0;
  }

  .footer-container {
    width: 21.75rem;
    margin: auto;
    padding-bottom: 3rem;
  }

  .footer-mobile .logo {
    width: 9rem;
    height: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .footer-mobile .logo > img {
    width: 100%;
    object-fit: cover;
  }

  .footer-mobile .footer-title {
    color: rgba(255, 255, 255, 0.45);
    font-family: Quicksand;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.75569rem;
    letter-spacing: 0.07556rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  .footer-mobile > .footer-container > .footer-title:first-of-type {
    margin-bottom: 1rem;
    padding: 0 0.75rem;
  }

  .footer-mobile .email-container {
    display: flex;
    width: 98%;
    padding: 0.25rem 0.25rem 0.25rem 1.5rem;
    align-items: center;
    border-radius: 2.875rem;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
    background: rgba(0, 0, 0, 0.02);
    margin: auto;
    margin-bottom: 2rem;
  }

  .footer-mobile .email-container > input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14931rem;
  }

  .footer-mobile .email-container > input::placeholder {
    color: rgba(255, 255, 255, 0.58);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14931rem;
  }

  .footer-mobile .email-container > button {
    padding: 0.75rem 1.5rem;
    border-radius: 6.25rem;
    background: linear-gradient(274deg, #2b67b8 1.32%, #7a44d1 96.65%);
    flex: none;
    margin-left: 0.75rem;
    color: #fff;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.36875rem;
  }

  .footer-mobile .first-row {
    display: flex;
    margin-bottom: 3rem;
  }

  .footer-mobile .first-row .first-col {
    flex-basis: 50%;
  }

  .footer-mobile .first-row .second-col {
    flex-basis: 50%;
  }

  .footer-mobile .footer-link {
    color: #fff;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57rem;
    letter-spacing: 0.01rem;
  }

  .footer-mobile .second-row {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: 1.5rem;
  }

  .footer-mobile .second-row .item {
    display: flex;
    flex-direction: column;
  }

  .footer-mobile .second-row .item:first-of-type {
    grid-column: span 2 / span 2;
  }

  .footer-mobile .second-row .item .footer-title {
    margin-bottom: 0.5rem;
  }

  .footer-mobile .second-row .item .item-content {
    color: #fff;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57rem;
    letter-spacing: 0.01rem;
  }

  .footer-mobile .second-row .item:first-of-type .item-content {
    width: 18.917rem;
  }

  .footer-mobile .footer-bottom-container {
    background: linear-gradient(91deg, #328ae2 -18.83%, #ff0d39 113.61%);
    display: flex;
    align-items: flex-end;
    padding: 0.5rem 0.75rem;
    z-index: 1;
    position: relative;
  }

  .footer-mobile .footer-bottom-container > div {
    display: flex;
    flex-direction: column;
  }

  .footer-mobile .footer-bottom-container p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Quicksand;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    letter-spacing: -0.0625rem;
  }

  .footer-mobile .footer-bottom-container > p:last-of-type {
    margin-left: auto;
  }

  .footer-mobile .footer-deco-1 {
    width: 20rem;
    position: absolute;
    bottom: 7rem;
    left: 0;
    z-index: 0;
  }

  .footer-mobile .footer-deco-2 {
    width: 2.5rem;
    position: absolute;
    bottom: 21.5rem;
    right: 0;
    z-index: 0;
  }

  .footer-mobile .footer-deco-3 {
    width: 15rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
}
